.custom-form{
    background-color: #ffff;
    width: 30%;
    padding: 1.5rem;
}
input[type="text"],input[type="date"]{
    /* margin-bottom: 0; */

    border-bottom: 1px solid #B7B7B7;
}
.form-container{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.logo-container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    color:#3B7F3A;
    font-size: 1.5rem;
}
.logo-container i{
    margin-left:auto;
    position: absolute;
    left:0;
}
.ddl-gender, .ddl-state,.ddl-district {
    display:block;
    width:100%;
    padding:.5rem;
    border:none;
    outline:none;
    border-bottom: 1px solid #B7B7B7;
    /* background-color: #F8F8F8; */
    background-color: inherit;
    margin-bottom: .8rem;
}

.date-of-birth{
    display:block;
    width:100%;
    border:none;
    outline:none;
    border-bottom: 1px solid #B7B7B7;
    /* background-color: #F8F8F8; */
    background-color: inherit;
    margin-bottom: .8rem;
}
.custom-form .form-element:not(:last-child){
    margin-bottom: 1.5rem;
}
select:invalid{
    color: grey;
}
select option:first-child{
    color: grey;
}
button{
    display: block;
    margin:0 auto;
}
.btn-upload{
    width: 100%;
    border:1px solid #86BE9C;
    border-radius: 5px;
    padding:.4rem 3rem;
    color: #68AF83;
    background-color: #ffff;
    
}
.btn-upload:focus, .btn-submit:focus{
    outline: none;
}
.btn-submit{
    outline: none;
    width: 100%;
    border:1px solid #86BE9C;
    border-radius: 5px;
    padding:.4rem 3rem;
    color: #ffffff;
    background-color:#3B7F3A;
}